/* --------------------------
:: Template Name: Colorlib App - App Landing Page 
:: Template Author: Colorlib
:: Template Author URI: https://colorlib.com/
:: Description: Colorlib is a One Page based App Landing Template. It's very clean, creative & beautiful. It's super     responsive & ultra light.
:: Tags: Colorlib, App Landing, Apps, Responsive App Landing, Bootstrap 4, Free Theme, Free HTML Template, HTML5 Template etc.
:: Version: v1.0
:: Created: 11/03/2017
-------------------------- */

/* --- [Master Stylesheet] ----
:: 1.0 Base CSS Start
:: 2.0 Header Area CSS
:: 3.0 Wellcome Area CSS
:: 4.0 Special Area CSS
:: 5.0 Features Area CSS
:: 6.0 Video Area CSS
:: 7.0 Cool Facts Area CSS
:: 8.0 Screenshots Area CSS
:: 9.0 Pricing Plan Area CSS
:: 10.0 Testimonials Area CSS
:: 11.0 CTA Area CSS Start
:: 12.0 Team Area CSS Start
:: 13.0 Contact Area CSS Start
:: 14.0 Footer Area CSS Start
-------------------------- */

@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Montserrat:400,500,700');
@import '../bootstrap-4.0.0/css/bootstrap.min.css';
@import '../SweetAlert/sweetalert.css';
@import '../theme/css/animate.css';
@import '../theme/css/magnific-popup.css';
@import '../owlcarousel/assets/owl.carousel.min.css';
@import '../owlcarousel/assets/owl.theme.default.min.css';
@import '../theme/css/slick.css';
@import '../fontawesome-5.0.6/web-fonts-with-css/css/fontawesome-all.min.css';
@import '../theme/css/themify-icons.css';
@import '../theme/css/ionicons.min.css';

@import 'css/chat.css';


/* --------------------------
:: Custom CSS
-------------------------- */

#random-img2{
    background: rgb(64,26,65); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(64,26,65,1) 0%, rgba(91,25,102,1) 47%, rgba(91,25,102,1) 55%, rgba(91,25,102,1) 55%, rgba(64,26,65,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(64,26,65,1) 0%,rgba(91,25,102,1) 47%,rgba(91,25,102,1) 55%,rgba(91,25,102,1) 55%,rgba(64,26,65,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(64,26,65,1) 0%,rgba(91,25,102,1) 47%,rgba(91,25,102,1) 55%,rgba(91,25,102,1) 55%,rgba(64,26,65,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#401a41', endColorstr='#401a41',GradientType=1 ); /* IE6-9 */
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #quienessomos{
        text-align: center;
    }
    .a{
        padding-top: 20px;
    }
    .get-start-area{
        text-align: center;
    }
    .como-f{
        padding-bottom:50px;
    }
    #mytext{
        font-size: 20px;
    }
    #ca-navbar ul li a{
        color:#737373!important;
    }
}




.fa-20x {
    font-size: 20em;
}
.custom-container {
    max-width: 95% !important;
}
.funciona {
    position: relative;
}
p.subtitle {
    font-size: 25px;
}
.cripto-logo {
    display: inline-block;   
}


#payments .section-heading h2 {
    color: #ffffff;
}
#payments .owl-carousel .item-content p {
    margin: 0;
    color: #ffffff;
}

#important  , #groups  {
    color: #a7a8af;
}
#important .img-container , #groups .img-container {
    margin-top: 70px;
}
#important .container .row , #groups .container .row {
    margin: 15px 0px;
    max-height: 120px;
    position: relative;
    overflow: hidden;
}
#important .container .row .item-img , #groups .container .row .item-img {
    padding-top: 15px;
}
#important .container .row .nitem:after {
    content: ' ';
}
#important .container .row .nitem {
    border-right: 2px solid #a7a8af;
    margin: 10px 0px;
    height: 100px;
    display: table;
    position: relative;
}
#important .container .row .nitem h1 {
    margin: 20% 0px;
    display: table-cell;
    color: #726a84;

}
#important .container .row .description, #groups .container .row .description {
    padding-top: 15px;
} 
#important .container .row .description p {
    font-size: 15px; 
}

#important .title-container, #groups .title-container  {
    padding: 50px 15px;
}

#groups .container .row .description p {
    font-size: 20px; 
}

/* ********************* */
/* ***** SPACESHIP ***** */
#spaceship .steps-container .row {
    padding: 50px 15px;
    position: relative;
}
#spaceship .steps-container .row.bottom .line-trough {
    position: absolute;
    left: 0;
    right: 150px;
    top: 0;
    bottom: 50%;
    border-bottom: 6px solid #1c74bc;
    border-left: 6px solid #1c74bc;
    z-index: 0;
}
#spaceship .steps-container .row .step {
    z-index: 1;
}
#spaceship .steps-container .row .step img {
    max-width: 100px;
}
#spaceship .steps-container .row .spaceship-container {
    position: absolute;
    right: 0;
    top: -100%;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(30deg);

}
#spaceship .steps-container .row .spaceship-container img {
    width: 300px;
    height: auto;
}

#spaceship .steps-container .row.top .line-trough {
    position: absolute;
    left: 0;
    right: 30%;
    top: 50%;
    bottom: 0;
    border-top: 6px solid #1c74bc;
    border-left: 6px solid #1c74bc;
    z-index: 0;
}

#spaceship .steps-container {
    position: relative;   
}
#spaceship .top-text {
    bottom: 80px;
}
#spaceship .bottom-text {
    bottom: -120px;
}
#spaceship .text-container p {
    color: #ffffff;
}
#spaceship .text-container {
    position: absolute !important;
}
/* ***** SPACESHIP ***** */
/* ********************* */


#spaceship2 {
    /*background: linear-gradient(0deg, #9969e5 70%, #fff 50%);*/
    padding: 20px 0px;
}
#spaceship2 * {
    color: #fff;
}
#spaceship2 .item-container {
    padding: 25px 15px;
}
#spaceship2 .spaceship-img img {
    width: 180px;
    transform: rotate(30deg);
    /*position: absolute;
    bottom: 0%;
    left: 20%;
    height: 500px;
    max-height: 500px;*/
}






.navbar-light .navbar-toggler {
    border-color: #fff;
}
.page-header {
    z-index: auto;
    background: #a865e1;
    /*background: -webkit-linear-gradient(to left, #7873ed, #a865e1);
    background: -webkit-linear-gradient(right, #7873ed, #a865e1);
    background: -webkit-gradient(linear, right top, left top, from(#7873ed), to(#a865e1));
    background: -o-linear-gradient(right, #7873ed, #a865e1);
    background: linear-gradient(to left, #7873ed, #a865e1);*/
    background: rgb(64,26,65); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(64,26,65,1) 0%, rgba(91,25,102,1) 47%, rgba(91,25,102,1) 55%, rgba(91,25,102,1) 55%, rgba(64,26,65,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(64,26,65,1) 0%,rgba(91,25,102,1) 47%,rgba(91,25,102,1) 55%,rgba(91,25,102,1) 55%,rgba(64,26,65,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(64,26,65,1) 0%,rgba(91,25,102,1) 47%,rgba(91,25,102,1) 55%,rgba(91,25,102,1) 55%,rgba(64,26,65,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#401a41', endColorstr='#401a41',GradientType=1 ); /* IE6-9 */
    padding: 100px 0 50px 0;
}
.page-header h1 {
    color: #ffffff;
    font-size: 25px;
}
.page-header .line-shape {
    margin: 0px;
}
.btn-theme {
    background: #02ea02;
    height: 48px;
    width: 100%;
    /*min-width: 185px;*/
    color: #ffffff;
    font-weight: 500;
    border-radius: 22px 25px 22px 0;
    font-size: 12px;
}
.btn-disabled {
    background-color: #7f7f7f !important;    
}
.btn-theme.small {
    height: auto !important;
}
.btn.btn-theme:hover {
    background: transparent;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    border-color: #630eff !important;
    border: 2px solid;
    color: #630eff;
}

.page-content {
    z-index: auto;
    padding: 50px 0 50px 0;
    background: #fff;
}

/* --------------------------
:: 1.0 Base CSS Start
-------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
}

.section_padding_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section_padding_100_50 {
    padding-top: 100px;
    padding-bottom: 50px;
}
.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
}
.section_padding_50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.section_padding_50_20 {
    padding-top: 50px;
    padding-bottom: 20px;
}
.section_padding_150 {
    padding-top: 150px;
    padding-bottom: 150px;
}
.section_padding_200 {
    padding-top: 200px;
    padding-bottom: 200px;
}
.section_padding_0_100 {
    padding-top: 0;
    padding-bottom: 100px;
}
.section_padding_70 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.section_padding_0_50 {
    padding-top: 0;
    padding-bottom: 50px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.mt-15 {
    margin-top: 15px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-100 {
    margin-top: 100px;
}
.mt-150 {
    margin-top: 150px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-30 {
    margin-right: 30px;
}
.mr-50 {
    margin-right: 50px;
}
.mr-100 {
    margin-right: 100px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-100 {
    margin-bottom: 100px;
}
.ml-15 {
    margin-left: 15px;
}
.ml-30 {
    margin-left: 30px;
}
.ml-50 {
    margin-left: 50px;
}
.ml-100 {
    margin-left: 100px;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
#scrollUp {
    bottom: 0;
    font-size: 24px;
    right: 30px;
    width: 50px;
    /*background-color: #fb397d;*/
    background-color: #02ea02;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.collapse.show li.nav-item {
    /*border-bottom: 1px solid #64256e;*/
}
li {
    list-style: none;
}
p {
    color: #726a84;
    font-size: 17px;
    font-weight: 300;
    margin-top: 0;
}
.heading-text > p {
    font-size: 16px;
}
.section-heading > h2 {
    font-weight: 300;
    color: #5b32b4;
    font-size: 48px;
    margin: 0;
}
.section-heading {
    margin-bottom: 60px;
}
.line-shape-white,
.line-shape {
    width: 80px;
    height: 2px;
    /*    background-color: #fb397d;*/
    background-color: #02ea02;
    margin-top: 15px;
}
.line-shape {
    margin-left: calc(50% - 40px);
}
.line-shape-center{
    margin-left: calc(50% - 40px)!important; 
}
.table {
    display: table;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    /*z-index: 2;*/
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
#preloader {
    overflow: hidden;
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}
.colorlib-load {
    -webkit-animation: 2000ms linear 0s normal none infinite running colorlib-load;
    animation: 2000ms linear 0s normal none infinite running colorlib-load;
    background: transparent none repeat scroll 0 0;
    /*    border-color: #dddddd #dddddd #fb397d;*/
    border-color: #dddddd #dddddd #02ea02;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 40px;
    left: calc(50% - 20px);
    position: relative;
    top: calc(50% - 20px);
    width: 40px;
    z-index: 9;
}

@-webkit-keyframes colorlib-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes colorlib-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* --------------------------
:: 2.0 Header Area CSS
-------------------------- */

.header_area {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 0;
    padding: 5px 4%;
    background-color: #ffffff;
    height: 70px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.menu_area .navbar-brand {
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    line-height: 1;
    padding: 0;
}
.menu_area .navbar-brand:hover,
.menu_area .navbar-brand:focus {
    color: #fff;
}
.menu_area {
    position: relative;
    z-index: 2;
}
.menu_area #nav .nav-link {
    color: #737373;
    display: block;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    /*padding: 35px 15px;*/
}
.menu_area nav ul li > a:hover {
    /*color: #fb397d;*/
    color: #02ea02;
}
.sing-up-button {
    text-align: right;
}
.sing-up-button > a {
    color: #727272;
    font-weight: 500;
    display: inline-block;
    border: 2px solid #5b1966;
    height: 50px;
    min-width: 178px;
    line-height: 46px;
    text-align: center;
    border-radius: 24px 24px 24px 0px;
}
.sing-up-button > a:hover {
    /*    background: #fb397d;*/
    background: #02ea02;
    color: #fff;
    border-color: transparent;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

/* stcicky css */
.header_area.sticky {
    background-color: #ffffff;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 99;
}
.header_area.sticky .menu_area .navbar-brand {
    font-size: 50px;
}
.header_area.sticky .menu_area #nav .nav-link {
    padding: 23px 15px;
}
.header_area.sticky .navbar {
    padding: 0;
}

/* --------------------------
:: 3.0 Wellcome Area CSS
-------------------------- */

.wellcome_area {
    background-image: url(img/bg-img/welcome-bg2.png);
    height: 900px;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
}
.wellcome_area:after {
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #fff;
    content: '';
    bottom: 0;
    z-index: 2;
}
.welcome-thumb {
    width: 45%;
    position: absolute;
    bottom: -130px;
    right: 85px;
    z-index: 9;
}
.welcome-thumb img {
    height: auto;
    width: 100%;
}
.wellcome-heading > h2 {
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    position: relative;
    z-index: 3;
}
.get-start-area .email {
    background: #9572e8;
    height: 50px;
    max-width: 45%;
    width: 100%;
    border: none;
    border-radius: 24px;
    padding: 0px 15px;
}
.get-start-area .email:focus {
    border: none;
    outline-offset: transparent !important;
    border-radius: 30px;
}
.get-start-area .submit {
    /*    background-color: #fb397d;*/
    background-color: #02ea02;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    border: none;
    height: 50px;
    min-width: 167px;
    line-height: 46px;
    text-align: center;
    border-radius: 24px 24px 24px 0px;
    margin-left: 10px;
}
.get-start-area .submit:hover {
    background: #6f52e5;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.wellcome-heading > p {
    color: #fff;
    font-size: 22px;
}
.wellcome-heading > h3 {
    font-size: 332px;
    position: absolute;
    top: -134px;
    font-weight: 900;
    left: -12px;
    z-index: -1;
    color: #fff;
    opacity: .1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}
.wellcome-heading {
    margin-bottom: 100px;
}

/* --------------------------
:: 4.0 Special Area CSS
-------------------------- */

.single-icon > i {
    font-size: 36px;
    /*    color: #fb397d;*/
    color: #02ea02;
}
.single-special > h4 {
    font-size: 22px;
    color: #5b32b4;
}
.single-icon {
    margin-bottom: 25px;
}
.single-special > h4 {
    font-size: 22px;
    color: #5b32b4;
    margin-bottom: 15px;
}
.single-special {
    border: 1px solid #eff2f6;
    padding: 40px;
    border-radius: 40px 40px 40px 0px;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    margin-bottom: 30px;
}
.special_description_content > h2 {
    color: #5b32b4;
    font-size: 48px;
    margin-bottom: 30px;
}
.single-special:hover {
    -webkit-box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
}
.single-special p {
    margin-bottom: 0;
}
.app-download-area {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 1;
    flex-basis: 1;
    margin-top: 50px;
}
.app-download-btn a {
    border: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 30px;
    border-radius: 30px 30px 30px 0;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.app-download-btn.active a,
.app-download-btn a:hover {
    border-color: transparent;
    /*    background-color: #fb397d;*/
    background-color: #02ea02;
}
.app-download-btn a i {
    color: #47425d;
    font-size: 24px;
    margin-right: 15px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.app-download-btn a p {
    font-size: 16px;
    line-height: 1;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.app-download-btn a p span {
    font-size: 12px;
    display: block;
}
.app-download-btn:first-child {
    margin-right: 20px;
}
.app-download-btn a:hover i,
.app-download-btn.active a i,
.app-download-btn.active a p,
.app-download-btn a:hover p {
    color: #fff;
}

/* --------------------------
:: 5.0 Features Area CSS
-------------------------- */

.single-feature {
    margin-bottom: 50px;
}
.single-feature > p {
    margin-bottom: 0;
}
.single-feature > i {
    /*color: #fb397d;*/
    color: #02ea02;
    font-size: 30px;
    display: inline-block;
    /*float: left;*/
    margin-right: 10px;
}
.single-feature > h5 {
    font-size: 22px;
    color: #5b32b4;
}
.single-feature > p {
    margin-top: 15px;
}

/* --------------------------
:: 6.0 Video Area CSS
-------------------------- */

.video-area {
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
    border: 20px solid #fff;
    border-radius: 20px;
    height: 650px;
    -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);
}
.video-area:after {
    position: absolute;
    content: "";
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border: 1px solid #f1f4f8;
    z-index: 2;
    border-radius: 20px;
}
.video-area .video-play-btn a {
    width: 80px;
    height: 80px;
    /*    background-color: #fb397d;*/
    background-color: #02ea02;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 36px;
    line-height: 80px;
    padding-left: 5px;
    border-radius: 50%;
    top: 50%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
}
.video-area .video-play-btn a:hover {
    background-color: #a865e1;
    color: #fff;
}

/* --------------------------
:: 7.0 Cool Facts Area CSS
-------------------------- */

.cool_facts_area {
    /*position: relative;*/
    z-index: auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#401a41+0,5b1966+47,5b1966+55,5b1966+55,401a41+100 */
    background: rgb(64,26,65); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(64,26,65,1) 0%, rgba(91,25,102,1) 47%, rgba(91,25,102,1) 55%, rgba(91,25,102,1) 55%, rgba(64,26,65,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(64,26,65,1) 0%,rgba(91,25,102,1) 47%,rgba(91,25,102,1) 55%,rgba(91,25,102,1) 55%,rgba(64,26,65,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(64,26,65,1) 0%,rgba(91,25,102,1) 47%,rgba(91,25,102,1) 55%,rgba(91,25,102,1) 55%,rgba(64,26,65,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#401a41', endColorstr='#401a41',GradientType=1 ); /* IE6-9 */
    /*    background: #a865e1;
        background: -webkit-linear-gradient(to left, #7873ed, #a865e1);
        background: -webkit-linear-gradient(right, #7873ed, #a865e1);
        background: -webkit-gradient(linear, right top, left top, from(#7873ed), to(#a865e1));
        background: -o-linear-gradient(right, #7873ed, #a865e1);
        background: linear-gradient(to left, #7873ed, #a865e1);*/
    padding: 80px 0 80px 0;
    top: -100px;
}
.cool_facts_area:after {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    content: ''
}
.cool-facts-content > i {
    color: #ffffff;
    font-size: 36px;
}
.counter-area {
    min-width: 100px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 0px 10px;
}
.counter-area > h3 {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 0;
    line-height: 1;
}
.cool-facts-content > p {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 0;
}

/* --------------------------
:: 8.0 Screenshots Area CSS
-------------------------- */

.app_screenshots_slides {
    padding: 0 6%;
}
.app_screenshots_slides .single-shot {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85)
}
.app_screenshots_slides .center .single-shot {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}
.app-screenshots-area .owl-dot {
    height: 11px;
    width: 11px;
    border: 2px solid #a49fba;
    border-radius: 50%;
    display: inline-block;
    margin: 0 6px;
    margin-top: 50px;
}
.app-screenshots-area .owl-dot.active {
    /*    background-color: #fb397d;*/
    background-color: #02ea02;
    border: transparent;
}
.app-screenshots-area .owl-dots {
    height: 100%;
    width: 100%;
    text-align: center;
}

/* --------------------------
:: 9.0 Pricing Plan Area CSS
-------------------------- */

.pricing-plane-area {
    background: #f5f9fc;
}
.single-price-plan {
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 30px 30px 30px 0;
    margin-bottom: 30px;
}
.single-price-plan .package-plan {
    padding: 40px 0;
    border-radius: 30px 30px 0 0;
}
.single-price-plan .package-plan > h5 {
    color: #5b32b4;
    font-size: 18px;
}
.single-price-plan .package-plan .ca-price h4 {
    /*    color: #fb397d;*/
    color: #02ea02;
    font-size: 48px;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    line-height: 1;
}
.single-price-plan .package-plan .ca-price span {
    font-size: 18px;
    /*color: #fb397d;*/
    color: #02ea02;
}
.single-price-plan .plan-button > a {
    background: #726a84;
    padding: 10px 0;
    border-bottom-right-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    display: block;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.single-price-plan .package-description > p {
    margin-bottom: 0;
    line-height: 1;
    padding: 15px 0;
    border-bottom: 1px solid #ebebeb;
}
.single-price-plan .package-description > p:first-child {
    border-top: 1px solid #ebebeb;
}
.single-price-plan.active .package-plan,
.single-price-plan.active .plan-button > a,
.single-price-plan:hover .plan-button > a {
    background-color: #a865e1;
}
.single-price-plan.active .package-plan .ca-price > h4,
.single-price-plan.active .package-plan .ca-price > span,
.single-price-plan.active .package-plan > h5,
.single-price-plan.active .plan-button > a {
    color: #fff;
}

/* --------------------------
:: 10.0 Testimonials Area CSS
-------------------------- */

.clients-feedback-area .client-name > h5 {
    color: #5b32b4;
    font-size: 22px;
    margin-top: 5px;
}
.clients-feedback-area .star-icon > i {
    font-size: 18px;
    color: #f1b922;
}
.clients-feedback-area .client-description > p {
    max-width: 1010px;
    margin: auto;
    margin-bottom: 15px;
    font-size: 22px;
}
.clients-feedback-area .client > i {
    font-size: 48px;
    color: #897ceb;
    margin-bottom: 30px;
}
.clients-feedback-area .client-name > p {
    color: #b5aec4;
}
.clients-feedback-area .slick-dots {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.clients-feedback-area .slick-dots li button {
    width: 12px;
    height: 12px;
    text-indent: -999999999999999999999999px;
    border: 3px solid #a49fba;
    background-color: #fff;
    border-radius: 50%;
    margin: 5.5px;
    outline: none;
}
.clients-feedback-area .slick-dots li.slick-active button {
    /*background-color: #fb397d;*/
    background-color: #02ea02;
    /*border-color: #fb397d;*/
    border-color: #02ea02;
}
.clients-feedback-area .slick-slide.client-thumbnail {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 129px;
}
.clients-feedback-area .slick-slide img {
    display: block;
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    border: 5px solid #fff;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.clients-feedback-area .slick-slide.slick-current img {
    width: 100px !important;
    height: 100px !important;
}
.clients-feedback-area .slick-arrow {
    position: absolute;
    width: 30px;
    background-color: #fff;
    height: 100%;
    text-align: center;
    font-size: 24px;
    color: #b5aec4;
    display: block;
    line-height: 550%;
    left: 0;
    z-index: 90;
    cursor: pointer;
}
.clients-feedback-area .slick-arrow.fa-angle-right {
    left: auto;
    right: 0;
    top: 0;
}

/* --------------------------
:: 11.0 CTA Area CSS Start
-------------------------- */

.our-monthly-membership {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#401a41+0,5b1966+47,5b1966+55,5b1966+55,401a41+100 */
    background: rgb(64,26,65); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(64,26,65,1) 0%, rgba(91,25,102,1) 47%, rgba(91,25,102,1) 55%, rgba(91,25,102,1) 55%, rgba(64,26,65,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(64,26,65,1) 0%,rgba(91,25,102,1) 47%,rgba(91,25,102,1) 55%,rgba(91,25,102,1) 55%,rgba(64,26,65,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(64,26,65,1) 0%,rgba(91,25,102,1) 47%,rgba(91,25,102,1) 55%,rgba(91,25,102,1) 55%,rgba(64,26,65,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#401a41', endColorstr='#401a41',GradientType=1 ); /* IE6-9 */
/*    background: #a865e1;
    background: -webkit-linear-gradient(to left, #7873ed, #a865e1);
    background: -webkit-linear-gradient(right, #7873ed, #a865e1);
    background: -webkit-gradient(linear, right top, left top, from(#7873ed), to(#a865e1));
    background: -o-linear-gradient(right, #7873ed, #a865e1);
    background: linear-gradient(to left, #7873ed, #a865e1);*/
}
.membership-description > h2 {
    color: #ffffff;
    font-size: 36px;
}
.membership-description > p {
    color: #ffffff;
    margin-bottom: 0;
}
.get-started-button > a {
    background: #ffffff;
    height: 45px;
    min-width: 155px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    /*    color: #fb397d;*/
    color: #02ea02;
    font-weight: 500;
    border-radius: 23px 23px 23px 0;
}
.get-started-button > a:hover {
    background: #5b32b4;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.get-started-button {
    text-align: right;
}

/* --------------------------
:: 12.0 Team Area CSS Start
-------------------------- */

.member-image {
    margin-bottom: 30px;
    border-radius: 30px 30px 30px 0;
    position: relative;
    z-index: 1;
}
.member-image img {
    border-radius: 30px 30px 30px 0;
}
.member-text > h4 {
    font-size: 22px;
    color: #5b32b4;
}
.member-text > p {
    color: #b5aec4;
    margin-bottom: 0;
}
.team-hover-effects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 75, 228, 0.8);
    border-radius: 30px 30px 30px 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.single-team-member:hover .team-hover-effects {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.team-social-icon {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.team-social-icon > a {
    font-size: 14px;
    color: #fff;
    background: #9a81d7;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px 10px 10px 0;
    display: block;
    margin: 2.5px;
}
.single-team-member {
    margin-bottom: 50px;
}

/* --------------------------
:: 13.0 Contact Area CSS Start
-------------------------- */

.address-text > p,
.phone-text > p,
.email-text > p {
    font-size: 18px;
    margin-bottom: 10px;
}
.address-text > p > span,
.phone-text > p > span,
.email-text > p > span {
    color: #5b32b4;
}
.footer-contact-area .line-shape {
    margin-left: 0;
}
.footer-contact-area .heading-text > p {
    margin-top: 50px;
}
.footer-contact-area .heading-text {
    margin-bottom: 50px;
}
#message {
    border-radius: 25px 25px 25px 0;
}
.btn.submit-btn {
    /*background: #fb397d;*/
    background: #02ea02;
    height: 48px;
    min-width: 185px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 22px 25px 22px 0;
}
.btn.submit-btn:hover {
    background: #5b32b4;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.footer-contact-area {
    background: #f5f9fc;
}
.footer-text > p {
    margin-bottom: 50px;
}

/* --------------------------
:: 14.0 Footer Area CSS Start
-------------------------- */
.footer-text > h2 {
    color: #5b32b4;
    font-size: 72px;
    font-weight: 700;
}
.footer-social-icon > a > i {
    background: #5b1966;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-weight: 500;
    border-radius: 10px 10px 10px 0px;
    margin-right: 10px;
}
.footer-social-icon > a > i:hover {
    /*background: #fb397d;*/
    background: #02ea02;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.social-icon {
    margin-bottom: 30px;
}
.footer-text {
    margin-bottom: 15px;
}
.footer-menu ul li {
    display: inline-block;
}
.footer-menu ul li a {
    border-right: 2px solid #726a84;
    display: block;
    padding: 0 7.5px;
    color: #726a84;
}
.footer-social-icon > a .active {
    /*    background: #fb397d;*/
    background: #02ea02;
}
.footer-menu ul li:last-child a {
    border-right: 0 solid #ddd;
}
.footer-social-icon {
    margin-bottom: 30px;
}
.footer-menu {
    margin-bottom: 15px;
}
.copyright-text > p {
    margin-bottom: 0;
}


/** BTO STYLE **/
a{
    color:#02ea02;
}
a:hover{
    color:#884BDF;
}
.navbar-brand{
    width: 170px;
    display:flex; 
    align-items:center; 
    text-align:center;
    /*padding: 0px;*/
}
.navbar-brand img{
    width: 100%;
}
footer{
    background: #f4f4f4;
}
footer img{
    width: 80%;
}
@media only screen and (min-width: 767px){
    .navbar-brand img{
        width: 100%;
    }
}
@media only screen and (min-width: 1170px){
    .navbar-brand img{
        width: 80%;
    }
    .navbar-brand{
        width: 230px;
    }
}



/* REGISTER */

.div-validador{
    overflow: hidden;
    font-size: 12px;
}
.div-validador-clave{
    /*overflow: hidden;*/
    font-size: 12px;
    /*padding: 5px;*/
    background: #F6F6F7;
    margin-top: 5px;
    color: #8A9297;
}
.icon-va{
    padding: 5px;
}
.padin{
    margin-top: 10px;
    padding: 10px;
    background: #f4f4f4
}
.div-validador > div{
    margin-left: 5px;
}
.bto-error{
    color:#DC3545;
}
.bto-success{
    color:#28A745;
}
#section-register label,#section-login label{
    color:#7A72ED;
    font-weight: bold;
}


.modal-header {
    /*background: linear-gradient(to left, #7873ed, #a865e1);*/
    background: rgb(64,26,65); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(64,26,65,1) 0%, rgba(91,25,102,1) 47%, rgba(91,25,102,1) 55%, rgba(91,25,102,1) 55%, rgba(64,26,65,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(64,26,65,1) 0%,rgba(91,25,102,1) 47%,rgba(91,25,102,1) 55%,rgba(91,25,102,1) 55%,rgba(64,26,65,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(64,26,65,1) 0%,rgba(91,25,102,1) 47%,rgba(91,25,102,1) 55%,rgba(91,25,102,1) 55%,rgba(64,26,65,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#401a41', endColorstr='#401a41',GradientType=1 ); /* IE6-9 */
}
.modal-header .title {
    margin-bottom: 20px; 
}
.modal-header h4 {
    color: #fff;
}
.modal-header .line-shape {
    margin-left: calc(50% - 40px);
}

#searchModal .searchFilter {
    padding: 10px 20px;
    color: #fff;
}

.card {
    border: none;   
}
.card-header {
    padding: 10px;
    background: transparent;
    border-radius: 10px;
    cursor:pointer;
}
.card-header.premium {
    border-top: 3px solid #cead03;
}
.card-header.free {
    border-top: 3px solid #8b6ee7;
}
.card-body {
    background: #e8e8e8;
    max-height: 230px;
    overflow: auto;
}
#accordionSearch.search .title-container span.isvalid {
    font-size: 8px;
    color: #02EA01;
}
#accordionSearch.search .title-container span.premium {
    font-size: 12px;
    float: right;
}
#accordionSearch.search .title-container span.free {
    font-size: 10px;
    float: right;
}
#accordionSearch.search h4 {
    margin: 0;
    font-size: 12px;
}
#accordionSearch.search .title-container h4 {
    display: inline-block;
}
#accordionSearch.search p {
    font-size: 12px;
    text-align: justify;
}
#accordionSearch.search .date,#accordionSearch.search .pricing {
    margin-bottom: 10px; 
}
#accordionSearch.search .date p {
    font-size: 15px;
    margin: 0;
    text-align: center;
}
#accordionSearch.search .date span {
    font-weight: bold;
}
#accordionSearch.search .pricing p{
    text-align: center;
    font-size: 20px;
}
#accordionSearch.search .user {
    border: 3px solid #fff;
    padding: 10px;
    margin-bottom: 10px;
}
#accordionSearch.search .user .user-img img{
    border-radius: 50%; 
}
#accordionSearch.search .user .user-info h4 {
    color: #02ea02;
}

#accordionSearch.search .description .line-shape {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: calc(50% - 40px);
}
#accordionSearch.search .description .pricing p {
    margin-bottom: 0px !important;  
}


#profile-container .profile .name {
    font-weight: bold;
}
#profile-container .profile .username {
    color: gray;
}
#profile-container .profile .email {
    color: gray;
}
#profile-container .profile img {
    margin-bottom: 20px;
}
#profile-container .card-header {
    background-color: #e8e8e8;
    border: 1px solid #cccccc;
}
#profile-container .card-body {
    background-color: #fff;
    border: 1px solid #cccccc;
}
#profile-container .card-body p {
    font-size: 14px;
}
#profile-container .card-body .field {
    font-weight: bold;
    color: #000;
}
#video-embed {
}
#video-embed iframe {
    width: 100%;
    height: 400px;
}
.profile .info {
    font-size: 1em;
}
.video-container {
    position: relative;
    margin: 15px 5px;
    /*margin-top: 30px;*/
    /*box-shadow: 0px 10px 10px #bdbdbd;*/
    cursor: pointer;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}
.video-container .thumb {
    padding: 0;
}
.video-container .info {
    padding: 10px 15px;
}
.video-container .info span {
    font-size: 14px;
}
.video-container .info p {
    margin: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.video-container:hover .delete-icon {
    display: block;
}
.video-container .info p:hover {
    color: #a467e2;
}
.video-container .delete-icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    color: #8470ea;
    z-index: 99;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
    background-color: #591963!important;
}